@font-face {
    font-family: 'Encode-Sans';
    src: url(../public/fonts/encodesanscompressed-400-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Encode-Sans';
    src: url(../public/fonts/encodesanscompressed-700-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Encode-Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
